# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android specific
**/android/**/gradle-app.setting
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/.gradle/
**/android/**/build/
**/android/**/captures/
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/wrapper/

# iOS/macOS specific
**/ios/**/GeneratedPluginRegistrant.h
**/ios/**/GeneratedPluginRegistrant.m
**/ios/**/Pods/
**/ios/**/Podfile.lock
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/DerivedData/

# Secrets and Keys
*.keystore
*.jks
*.p12
*.pem
*.key
**/google-services.json
**/GoogleService-Info.plist
.env*
!*.example
